<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="vendor/bootstrap.css"W/>
    <link rel="stylesheet" href="stylesheets/nav.css" />
    <script src="javascripts/cytoscape.min.js"></script>
    <script src="javascripts/jquery.js"></script>
    <title>Hello, world!</title>
  </head>
  <body>
   
    <div class="allMenu">
      <ul class="ul">
        <li class="lia"><a href="#" id="addData" class="li">Subir Datos</a></li>
        <li class="lia"><a href="#" class="li">Info</a></li>
        <li class="lia"><a href="#" class="li">Portfolio</a></li>
        <li class="lia"><a href="#" class="li">The Team</a></li>
      </ul>
      <div class="Menu2">
        <svg version="1.1" id="menulogo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="36px" viewBox="0 0 40 36" enable-background="new 0 0 40 40" xml:space="preserve">
          <rect class="rect1" fill="#FFF" width="40" height="5.392" />
          <rect class="rect2" x="0" y="12" fill="#FFF" width="40" height="5.393" />
          <rect class="rect3" x="0" y="24" fill="#FFF" width="40" height="5.393" />
        </svg>
        <div class="Menu"></div>
      </div>
    </div>

    <div id="cy"></div>
    <script>
      $(document).ready(function () {
        var menu = $(".Menu");
        $("#menulogo").click(function () {
          if (menu.hasClass("hover")) {
            menu.removeClass("hover");
            $(".rect1").css("opacity", "1");
            $(".rect2").css("transform", "rotate(0deg) translate(0px, 0px)");
            $(".rect3").css("transform", "rotate(0deg) translate(0px, 0px)");
            $("#menulogo").css("margin-top", "25px");
            $(".ul").css("margin-top", "-100px");
          } else {
            menu.addClass("hover");
            $(".rect1").css("opacity", "0");
            $(".rect2").css("transform", "rotate(45deg) translate(6px, -15px)");
            $(".rect3").css("transform", "rotate(-45deg) translate(-20px, 0px)");
            $(".ul").css("margin-top", "0px");
            $("#menulogo").css("margin-top", "35px");
          }
        });

        var cy = cytoscape({
          container: document.getElementById("cy"), // container to render in

          elements: [
            // list of graph elements to start with
            {
              // node a
              data: { id: "a" },
            },
            {
              // node b
              data: { id: "b" },
            },
            {
              // edge ab
              data: { id: "ab", source: "a", target: "b" },
            },
          ],

          style: [
            // the stylesheet for the graph
            {
              selector: "node",
              style: {
                "background-color": "#666",
                label: "data(id)",
              },
            },

            {
              selector: "edge",
              style: {
                width: 3,
                "line-color": "#ccc",
                "target-arrow-color": "#ccc",
                "target-arrow-shape": "triangle",
                "curve-style": "bezier",
              },
            },
          ],

          layout: {
            name: "grid",
            rows: 1,
          },
        });

        var clic_datos = function () {
          $("#addData").on("click", (event) => {
            event.preventDefault();
            $.ajax({
              url: "/loadData",
              type: "POST",
              success: function (data) {
                cy.add(data);
              }
            });
          });
        };
        clic_datos();
      });
    </script>
  </body>
</html>
